.dokumentasi {
    background: white;
    color: black;
    font: 14px/1.5 sans-serif
}

.dokumentasi table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%
}

.dokumentasi th:first-child {
    white-space: nowrap;
    width: 10em
}

.dokumentasi th:nth-child(2) {
    white-space: nowrap;
    width: 20em
}

.dokumentasi table, 
.dokumentasi th,
.dokumentasi td {
    border: 1px solid gray;
    padding: .5em;
    text-align: left;
    vertical-align: top
}

.dokumentasi th {
    background: lightgrey
}

.dokumentasi dt {
    float: left;
    font-weight: bold;
    width: 100px
}

.dokumentasi > ul {
    padding-left: 0
}

.dokumentasi ul {
    list-style: none inside;
    padding-left: 1.5em
}

.dokumentasi code {
    color: #1193c8
}
